# PHP Gateway
BROKER_CORE_API_BASE_URL=http://localhost:5000
BROKER_CORE_API_TIMEOUT_SECONDS=15
APP_ENV=local

# .NET Core Engine
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__BrokerDatabase=Server=localhost,1433;Database=MicroInsurTech;User Id=sa;Password=change-me;TrustServerCertificate=True;
POSTCODES_API_BASE_URL=https://postcodes.io
